{
    "Role" : "proxy",

    "Debug" : true,

    "LogFilePath" : "haptic.log",

    "CommonBaseDir" : "/path/to/zeroinstall/",

    "AdminUser": {
        "Email": "admin@nanocloud.com",
        "Password": "admin"
    },

    "Database" : {
        "type" : "bolt",
        "ConnectionString" : "users.db
    },

    "Proxy" : {

        "FrontEndRootDir" : "/path/to/frontend",

        "MaxNumRegistrations" : 4,
        "MaxNumAccounts" : 3,
        "NumRetries" : 3,
        "SleepDurationInSecs" : 20,

        "offTacServer" : "nanocloud",
        "offWinExe" : "/home/nanocloud/v2/winexe-static"
    },

    "AppServer" : {
        "User" : "Administrator",
        "Server" : "10.0.0.42",
        "ExecutionServers" : [
            "10.0.0.43",
            "10.0.0.44",
            "10.0.0.45"
        ],
        "SSHPort": "22",
        "RDPPort": "3389",
        "Password": "Secr3t",

        "WindowsDomain": "intra.nanocloud.com",
        "XMLConfigurationFile": "/tmp/guacxml.xml"
    },

    "Plugins" : {
        "Iaas" : {
            "Url": "http://your.physical.host",
            "Port": "8082"
        },
        "Ldap" : {
            "serverUrl": "ldaps://127.0.0.1",
            "username": "CN=Administrator,CN=Users,DC=intra,DC=nanocloud,DC=com",
            "password": "secret",
            "scriptsDir": "/path/to/plugins/ldap/"
        },
        "Owncloud" : {
            "protocol" : "https",
            "url"      : "nanocloud.com/drive",
            "login"    : "owncloud_admin",
            "password" : "secret"
        }
    },

    "OnActivate" : [

        { "Talend" : "TAC" },

        { "Owncloud" : "CreateUser" }
    ]
}
